.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    text-align: left;
}

.container .input-field {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    border: 2px solid;
}

.container .project-name {
    text-align: center;
    font-size: large;
    font-weight: bold;
}